.pix-div-input {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 120px;
	font-size: 11px;
	line-height: 100%;
	padding: 5px;
	border: 0px none;
	width: 100% !important;
}
.pix-div-input:hover {
	border: 0px none;
	box-shadow: 0px 0px 0px 2px #EFEFD7 inset;
	background-color: rgba(239, 239, 215, 0.3);
}
li.block textarea {
	display: none;
}
.pix-div-input i {
	display: block;
	font-size: 400%;
}
.pix-step .note {
	display: none;
	width: 94px;
}
.pix-step .note.active {
	display: block;
}

ul.select {
	position: absolute;
	width: 384px;
}
ul.pix-ul li.active a {
	background: #bceee1;
}