.nav li a .pix{
	&.pix-2x{line-height: 0}
} 

.pix-replace {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #C0C0C0;
}

.pix-tag-view {
	position: relative;
}

.pix-code {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	background: #FFF;
	border-bottom: 1px solid #C0C0C0;
	font-size: 200%;
	.pix-stack {
		float: left;
	}
}

.block {
	.pix-input {
		font-size: 3em !important;
	}
	.pix-note {
		width: 70px;
		height: 38px;
		text-align: center;
		line-height: 1.1em;
		border: 0;
		font-size: .65em;
	}
	.pix-note {
		&:hover {
			border: 1px solid #EBEFE5;
		}
	}
}

.note .input-note {
	margin: 10px 0 0 10px;
	display: none;
	width: 85px;
	height: 80px;
	border: none;
	line-height: 95%;
}


// drop-down and select class. Use in combination with: <ul class="select nav nav-stacked pix-ul">
ul.select{
	position: relative;
	background-color: @white;
	border-radius: @radius;
	box-shadow: 3px 3px 0 fade(@black, 10);
	border: @pix-border-width/2 solid darken(@border-color, 10);
	margin: 0 10px 0 0;
	li{
		a{
			font-size: 14px;
			color: @black;
			padding: 5px;
			.pix{
				font-size: 36px; // @pix-size;
			}
			&:hover{
				background-color: fade(@brand-info, 20);
			}
		}
	}
}


@tools-offset: 10px;

.pix-step:hover .fly-link {
	display: inline-block;
}

.fly-link {
	position: absolute;
	display: none;
	background-color: transparent;
	&.top {
		top: -@tools-offset - 2px;
		z-index: 100;
	}
	&.bottom {
		bottom: -@tools-offset;
		z-index: 101;
	}
	.btn-tools{
		padding: 0 !important;
		line-height: 100%;
		.size(16px, 16px);
		.img-circle;
		color: @white;
		text-shadow: 0 0 2px @white;
		background-color: @gray-light;
		box-shadow: 0 0 0 3px fade(@white, 90);
		margin: 0 1px;
		img{
			position: relative;
			.size(12px, 12px);
			top: -3px;
		}
		&:hover{
			&.tool-split{background-color: @blue}
			&.tool-remove{background-color: @red}
			&.tool-add{background-color: @green}
			&.tool-note{background-color: @blue}
		}
	}
}