ul.docs{
	li{
		list-style: none;
		ul li{
			list-style: none;
		}
	}
}

footer{
	color: @white;
	font-size: 12px;
	margin-top: 30px;
	padding: 1em 0;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
		}
	}
}

address{
	white-space: pre;
}
