// PiX: The Scores
// --------------------------

/******************************************** Variables */

@pix-border-width: 4px;
@pix-border-color: #ccd4d1;
@pix-block-height: 120px;
@pix-size: 36px;

/****************************************** Score Title */
.input-style{
		padding: 4px;
		overflow: auto;
		border: none;
		border-radius: @radius;
		cursor: text;
		background-color: transparent;
		&:active,
		&:focus,
		&:hover{
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
}

h1.score-header{
	margin: 0;
	input{
		font-size: 32px;
		margin: 12px 0;
		color: @orange;
		line-height: 42px;
		width: 100%;
		.input-style;
	}
}
.score-description{
	display: block;
	width: 100%;
	.input-style;
}


/******************************************** The Score */

.pix-score{
	margin: 10px -@pix-border-width 32px -@pix-border-width;
	margin-bottom: 32px;
	.cf;
	ul li{
		display: inline-block;
		list-style-type: none;
	}

	ul, ul li ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: inline-block;
		}
	}

	ul{
		&.pix-header{
			background-color: @border-color;
			// border-radius: @pix-border-width * 2 0 0 @pix-border-width * 2;
			li{
				&.block-user{border-top: none}
				&.block-system{border-bottom: none}
				width: 100%;
				.tcenter;
				font-weight: 600;
				line-height: 1em;
				color: fade(@black, 40%);
				label{font-size: 1.2em}
				.pix-group{
					.pix{margin: .2em 0}
				}
			}
		}

		&.pix-steps{
			li.pix-step{
				&.split{
					border-left: 1px solid darken(@border-color, 15);
				}
				&:last-child{
					// border-radius: @pix-border-width * 2;
					border-right: @pix-border-width solid @border-color;
				}
				&:hover{
					background-color: lighten(@edit-color, 10);
				}
			}
		}
	}

	.note{
		// padding: 4px;
		font-size: 11px;
		font-family: @font-family-serif;
		color: desaturate(darken(@edit-color, 30), 20);
		line-height: 100%;
	}
}

.pix-group{
	height: @pix-block-height;
	text-align: center;
	cursor: pointer;

	.pix{
		font-size: 3em;
		width: 100%;
	}

	strong{
		font-weight: 900;
	}
}

.block{

	text-align: center;
	vertical-align: middle;
	height: @pix-block-height;
	padding: 0 12px;
	margin: 0;
	width: 100%;

	&.block-user{
		border-top: @pix-border-width solid @border-color;
		border-bottom: 1px dotted @pix-border-color;
	}
	&.block-dialogue{border-bottom: 3px solid @pix-border-color}
	&.block-system{border-bottom: @pix-border-width solid @border-color;}

	textarea{
		font-size: 12px;
		line-height: 80%;
		padding: 5px;
		border: none;
		width: 100% !important;
		background-color: transparent;
		&:active,
		&:focus,
		&:hover{
			border: none;
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
	}

}

textarea.pix-test{
	font-family: 'PiX';
	font-size: 3em;
}

/*----------------------------------------- new score DOM */

li.block{
	list-style-type: none;
	padding: 5px;	
	.pix-group{
		padding: 5px;
		line-height: 80%;
		font-size: 12px;
		.pix{
			display: block;
			text-align: center;
			font-size: 48px;
		}
	}
}
