/* PiX: The Scores */

/******************************************** Variables */

@pix-border-width: 4px;
@pix-border-color: #ccd4d1;
@pix-block-height: 120px;
@pix-size: 36px;

/****************************************** Score Title */
.input-style{
		padding: 4px;
		overflow: auto;
		border: none;
		border-radius: @radius;
		cursor: text;
		&:active,
		&:focus,
		&:hover{
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
}

h1.score-header{
	margin: 0;
	input{
		font-size: 32px;
		margin: 12px 0;
		color: @orange;
		line-height: 42px;
		.input-style;
	}
}
.score-description{
	display: block;
	width: 100%;
	.input-style;
}


/******************************************** The Score */

.pix-score{
	margin: 10px -@pix-border-width 32px -@pix-border-width;
	margin-bottom: 32px;
	.cf;
	ul li{
		display: inline-block;
		list-style-type: none;
	}
	
	ul, ul li ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: inline-block;
		}
	}

	ul{
		&.pix-header{
			background-color: @border-color;
			border-radius: @pix-border-width * 2 0 0 @pix-border-width * 2;
			li{
				&.block-user{border-top: none}
				&.block-system{border-bottom: none}
				
				width: 100%;
				.tcenter;
				font-weight: 600;
				line-height: 1em;
				color: fade(@black, 30%);
				//.pix{font-size: @pix-size}
				label{font-size: .8em}
				.pix-group{
					//padding-top: 1.333em;
					width: 100% !imporant;
					.pix{
						margin-bottom: 12px;
					}
				}
			}
		}

		&.pix-steps{
			li.pix-step{
				&.split{
					border-left: 1px solid @border-color;
				}
				&:last-child{
					border-radius: @pix-border-width * 2;
					border-right: @pix-border-width solid @border-color;
				}
				&:hover{
					background-color: lighten(@edit-color, 10);
					&:before{
						display: block;
						position: absolute;
						top: -20px;
						content: 'split score';
						.note;
					}
					&:after{
						display: block;
						position: absolute;
						content: 'add note';
						.note;
					}
				}
			}
		}
	}

	.note{
		padding: 4px;
		font-size: 11px;
		font-family: @font-family-serif;
		color: desaturate(darken(@edit-color, 30), 20);
		line-height: 100%;
	}

}

.pix-group{
	//display: table-cell;
	margin-top: 1em;
	height: @pix-block-height;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	.pix{
		font-size: 3em;
		//line-height: 0.6;
		display: block;
	}

	.pix-stack{
		.stack-left{
			left: -33%;
		}
		.stack-right{
			left: 33%;
		}
		.stack-upper-left{
			top: -33%;
			left: -33%;
		}
		.stack-upper-right{
			top: -33%;
			left: 33%;
		}
		.stack-lower-right{
			top: 33%;
			left: 33%;
		}
		.stack-lower-left{
			top: 33%;
			left: -33%;
		}
		.stack-upper-middle{
			top: -30%;
			left: -2%;
		}
		.stack-lower-middle{
			top: 30%;
			left: -2%;
		}
	}
	strong{
		font-weight: 900;
	}
}

.block{
	
	p{
		margin: 1em 0 0 0;
		font-size: .66em;
		line-height: 98%;
	}

	text-align: center;
	vertical-align: middle;
	height: @pix-block-height;
	padding: 0 12px;
	margin: 0;
	width: 100%;

	&.block-user{
		border-top: @pix-border-width solid @border-color;
		border-bottom: 1px dotted @pix-border-color;
	}
	&.block-dialogue{border-bottom: 3px solid @pix-border-color}
	&.block-system{border-bottom: @pix-border-width solid @border-color;}
	
	input[type="text"]{
		font-size: 12px;
		padding: 4px;
		//line-height: 42px;
		margin: 20px 0 0 0;
		overflow: hidden;
		width: 70px;
		text-align: center;
		border: none;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		border-radius: @radius;
		&:active,
		&:focus,
		&:hover{
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
	}
}

/*
.icon-docs{
	font-size: 12px;
	.pix{ width: 100%}
	small{color: @gray-light;}
}
*/
