/* Scores */
.page-header .nav-pills{
	li{
		top: 12px;
		left: 4px;
	}
}

.page-header .nav-pills > li > a,
.page-header .nav-pills > li > a:active,
.page-header .nav-pills > li > a:hover {
    border-radius: 18px;
	font-size: 20px;
	font-weight: 100;
	padding: 2px 11px 4px;
}


input.score-header{
	margin: 12px 0;
	color: @orange;
	font-size: 22px;
	padding: 4px;
	line-height: 42px;
	overflow: hidden;
	width: auto;
	border: none;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
	&:active,
	&:focus,
	&:hover{
		box-shadow: 0 0 2px @edit-color inset;
		background-color: fade(@edit-color, 30);
	}
}

@border-width: 4px;
@border-color: fade(@black, 5);
@block-height: 120px;
@icn-size: 36px;

.score{
	margin: 10px -@border-width 32px -@border-width;
	margin-bottom: 32px;
	border: @border-width solid @border-color;
	border-radius: @border-width * 2;
	.cf;

	ul{
		&.labels{
			background-color: @border-color;

			li .icn-group{
				.tcenter;
				font-weight: 600;
				line-height: 110%;
				.icn{
					font-size: @icn-size;
					color: fade(@black, 25%);
				}
			}
		}

		&.step{
			font-weight: 300;
			ul li.block .icn-group .icn,
			ul li.block .icn-stack .ico-group .icn{
				height: @icn-size + 2;
				font-size: @icn-size;
			}
		}
	}

	.icn-group{
		.center-vertical;
		.icn-stack,
		.icn{
			display: block;
			text-align: center;
			margin: 0 auto;
		}
		p{
			font-size: 11px;
			line-height: 14px;
			text-align: center;
		}
		.icn-stack{
			.cf;
		}
	}

	ul, ul li ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: inline-block;
		}
	}
}

.block{
	display: inline-block;
	vertical-align: middle;
	height: @block-height;
	padding: 0 12px;
	margin: 0;
	width: 100%;

	&.block-user{border-bottom: 1px dotted @black}
	&.block-dialogue{border-bottom: 3px solid @black}
	&.block-system{border-bottom: none}
	

	p{
		font-weight: 300;
	}
	input[type="text"]{
		font-size: 12px;
		padding: 4px;
		//line-height: 42px;
		margin: 20px 0 0 0;
		overflow: hidden;
		width: 70px;
		text-align: center;
		border: none;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		border-radius: @radius;
		&:active,
		&:focus,
		&:hover{
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
	}
}


footer{
	color: @white;
	font-size: 12px;
	margin-top: 30px;
	padding: 1em 0;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
		}
	}
}