<head>
  <!-- PiX Application -->
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href='{{ site.baseurl }}/css/style.css' rel='stylesheet'>
  <link href='{{ site.baseurl }}/css/pix-webfont.css' rel='stylesheet'>
  <link href='{{ site.baseurl }}/css/temp-style.css' rel='stylesheet'>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var Ajax = {"icons":"{{ site.baseurl }}/js/icons.json"};
  /* ]]> */
  </script>
<style type="text/css" media="print">
    .container
    {
      position: relative;
     padding-left: 90px;
     -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
     filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    footer {
      display: none;
    }
    #add-new {
      display: none;
    }
    .navbar {
      display: none;
    }
</style>
  <title>{{ page.title }}</title>
  <!--
  <script src='{{ site.baseurl }}/js/jquery.min.js'></script>
  <script src='{{ site.baseurl }}/js/bootstrap.min.js'></script>
  -->
  <!--
  <link rel='icon' type='image/x-icon' href='{{ site.baseurl }}/img/favicon-pyxis.ico' />
  <link rel='apple-touch-icon-precomposed' sizes='114x114' href='{{ site.baseurl }}img/favicon-114.png'>
  <link rel='apple-touch-icon-precomposed' sizes='72x72' href='{{ site.baseurl }}img/favicon-72.png'>
  <link rel='apple-touch-icon-precomposed' href='{{ site.baseurl }}img/favicon-57.png'>
  -->
</head>


