<nav class='navbar navbar-inverse navbar-default navbar-fixed-top hp' role='navigation'>
  <div class='container'>
  	<div class='navbar-header'>
      <a class='navbar-brand' href='{{ site.baseurl }}/'><i class='pix'>logo</i> PiX</a>
    </div>
    <ul class='nav navbar-nav pull-right'>
      <li class='hidden-xs'><a href='#' class='new' title='new'><i class='pix pix-2x'>file</i></a></li>
      <li class='hidden-xs'><a href='#' class='save' title='save'><i class='pix pix-2x'>save</i></a></li>
    	<li class='hidden-xs'><a href='#' class='import' title='upload JSON'><i class='pix pix-2x'>up</i></a></li>
      <input type='file' id='input' class='upload-json' >
      <li class='hidden-xs'><a href='#' class='export' title='download JSON'><i class='pix pix-2x'>down</i></a></li>
      <li class='hidden-xs'><a href='#' class='embed' title='Embed'><i class='pix pix-2x'>share</i></a></li>
    	<li class='hidden-xs'><a href='javascript:window.print()' title='print or create PDF'><i class='pix pix-2x'>print</i></a></li>
    </ul>
  </div>
</nav>