<!-- <link rel="icon" href="{{ site.baseurl }}/favicon/favicon.ico" sizes="any" />
<link rel="icon" href="{{ site.baseurl }}/favicon/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon/apple-touch-icon.png" />
<link rel="manifest" href="{{ site.baseurl }}/favicon/manifest.webmanifest" /> -->

<link rel="icon" href="{{ '/favicon/favicon.ico' | relative_url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon/icon.svg' | relative_url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" href="{{ '/favicon/apple-touch-icon.png' | relative_url }}" />
<link rel="manifest" href="{{ '/favicon/manifest.webmanifest' | relative_url }}" />