<footer>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-6'>
				<ul>
					<li>This is an open source proyect under the <a href='http://opensource.org/licenses/Artistic-2.0'>Artistic Licence 2.0</a> designed and developed at <a href='http://www.ead.pucv.cl'>e[ad] Esuela de Arquitectura y Diseño PUCV</a></li>
					<li>PiX is based on <a href='https://github.com/eadpucv/partituras'>Partituras de Interacción</a></li>
					<li><a a href='https://github.com/eadpucv/pix'>Check the repository</a> on Github</li>
				</ul>
			</div>
			<div class='col-sm-6'>
				<ul class='nav nav-pills pull-right'>
					<li><a href='{{ site.baseurl }}/pages/contact'>Contact us</a></li>
				</ul>
			</div>
		</div>

	</div>
</footer>