<div class="col-md-1 col-sm-2 col-xs-6">
    <div class="inner icon-docs">
        <div class='pix-group'>
        	<div class='pix-stack'>
        		    <i class='pix pix-{{ include.pix1 }}'></i>
        		    <i class='pix pix-{{ include.pix2 }}'></i>
    				<i class='pix stack-upper-middle pix-{{ include.um }}'></i>
        	</div>
            <p class='tcenter'><span class='docs-icon-name'>{{ include.pix1 }} + {{ include.pix2 }} + {{ include.um }}</span></p>
        </div>
    </div>
</div>