<div class='container'>
	<div class='page-header'>
		<h1 class='brand'><a href='{{ site.baseurl }}/'><i class='pix pix-pix'></i> PiX</a></h1>
		<p class='lead inline orange'>Interaction notation for UX design</p>
		
		<ul class='nav nav-pills'>
			{% if page.active == 'index' %}
				<li class='active'><a href='#'>about PiX</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/'>about PiX</a></li>
			{% endif %}
			
			{% if page.active == 'icons' %}
				<li class='active'><a href='#'>icons</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/icons'>icons</a></li>
			{% endif %}

			<!--
			{% if page.active == 'magic' %}
				<li class='active'><a href='#'>magic words</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/magic'>magic words</a></li>
			{% endif %}
			-->
			
			{% if page.active == 'docs' %}
				<li class='active'><a href='#'>docs</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/docs'>docs</a></li>
			{% endif %}
		</ul>
	</div>
</div>



