<div class='container'>
	<div class='page-header'>
		<h1 class='brand'><a href='{{ site.baseurl }}/'><i class='pix'>logo</i> PiX</a> <small>v{{ site.pixver }}</small> 
		<a data-count-api="/repos/eadpucv/pix#stargazers_count" data-count-href="/eadpucv/pix/stargazers" href="https://github.com/eadpucv/pix" class="github-button">Star</a></h1>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
		<p class='lead inline orange'>Interaction notation for UX design</p>

		<ul class='nav nav-pills'>
			{% if page.active == 'index' %}
				<li class='active'><a href='#'>about PiX</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/'>about PiX</a></li>
			{% endif %}

			<li><a href='{{ site.baseurl }}/pages/app'>App</a></li>
			
			{% if page.active == 'icons' %}
				<li class='active'><a href='#'>icons</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/icons'>icons</a></li>
			{% endif %}

			{% if page.active == 'downloads' %}
				<li class='active'><a href='#'>downloads</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/downloads'>downloads</a></li>
			{% endif %}
			
			{% if page.active == 'docs' %}
				<li class='active'><a href='#'>docs</a></li>
			{% else %}
				<li><a href='{{ site.baseurl }}/pages/docs'>docs</a></li>
			{% endif %}
		</ul>
	</div>
</div>



