
<div class='pix-stack'>
    {% if include.pix1 %}<i class='pix pix-{{ include.pix1 }}'></i>{% endif %}
    {% if include.pix2 %}<i class='pix pix-{{ include.pix2 }}'></i>{% endif %}
    {% if include.pix3 %}<i class='pix pix-{{ include.pix3 }}'></i>{% endif %}
    {% if include.top-left %}<i class='pix stack-top-left pix-{{ include.top-left }}'></i>{% endif %}
    {% if include.top %}<i class='pix stack-top pix-{{ include.top }}'></i>{% endif %}
    {% if include.top-right %}<i class='pix stack-top-right pix-{{ include.top-right }}'></i>{% endif %}
    {% if include.left %}<i class='pix stack-left pix-{{ include.left }}'></i>{% endif %}
    {% if include.right %}<i class='pix stack-right pix-{{ include.right }}'></i>{% endif %}
    {% if include.bottom %}<i class='pix stack-bottom pix-{{ include.bottom }}'></i>{% endif %}
    {% if include.bottom-left %}<i class='pix stack-bottom-left pix-{{ include.bottom-left }}'></i>{% endif %}
    {% if include.bottom-right %}<i class='pix stack-bottom-right pix-{{ include.bottom-right }}'></i>{% endif %}
</div>
