<div class="pix-score">
    <ul class="pix-header">
        <li class="block block-user"><div class="pix-group"><i class="pix pix-person"></i><label>person</label></div></li>
        <li class="block block-dialogue"><div class="pix-group"><i class="pix pix-dialogue"></i><label>dialogue</label></div></li>
        <li class="block block-system"><div class="pix-group"><i class="pix pix-system"></i><label>system</label></div></li>
    </ul>
    <ul class="pix-steps">
        <li class="pix-step">
            <ul>
                <li class="block block-user">
                    <textarea rows="10" placeholder="type here..."></textarea>
                    <div class="pix-div-input" contenteditable="true">1. La capa del usuario</div>
                </li>
                <li class="block block-dialogue">
                    <textarea rows="10" placeholder="type here..."></textarea>
                    <div class="pix-div-input" contenteditable="true">2. La capa de la interacción</div>
                </li>
                <li class="block block-system">
                    <textarea rows="10" placeholder="type here..."></textarea>
                    <div class="pix-div-input" contenteditable="true">3. La capa del servicio</div>
                </li>
            </ul>
            <div class="fly-link bottom">
                <a href="#add-note" class="btn btn-xs btn-tools tool-note" title="add note"><img src="http://eadpucv.github.io/pix/img/tool_nota.svg"></a>
            </div>
            <textarea class="note bottom" rows="10" placeholder="type here..."></textarea>
        </li>

        <li class="pix-step pix-step-wide">
            <ul>
                <li class="block-2 block-user">
                    <div class="pix-div-input" contenteditable="true">Esta capa muestra los objetivos de la persona mediante el desarrollo de su modelo mental de la tarea en cuestión. También muestra las emociones (esperadas) involucradas en la experiencia global.</div>
                 </li>
                <li class="block-2 block-dialogue">
                    <div class="pix-div-input" contenteditable="true">estas capas van dialogando eEsta es la capa del diálogo que representa las acciones concretas sucediendo en la interfaz: gestos, mensajes, acciones; toda manipulación directa de elementos y constructos sucediendo en el punto de contacto.ntre sí</div>
                </li>
                <li class="block-2 block-system">
                    <div class="pix-div-input" contenteditable="true">Esta es la capa del sistema que muestra lo que ocurre tras bambalinas, aquello que permite que el servicio se desarrolle; todas las acciones de apoyo que son entregadas y presentadas a la persona.</div>
                </li>
            </ul>
            <div class="fly-link bottom">
                <a href="#add-note" class="btn btn-xs btn-tools tool-note" title="add note"><img src="http://eadpucv.github.io/pix/img/tool_nota.svg"></a>
            </div>
        </li>
    </ul>
</div>

