
.brand{
	font-family: Lato;
	font-size: 2.5em;
	a{
		color: @black;
		font-weight: 900;
		&:hover{
			text-decoration: none;
			color: @orange;
		}
	}

}
.navbar > .container .navbar-brand{
	font-family: Lato;
	font-weight: 900;
	color: @brand-primary;
	&:hover{color: @white;}
	i.pix{
		color: @white;
		font-size: 170%;
		line-height: 10%;
	}
}

/* navbar top: to provent content overlay */
.nbt{ padding-top: @navbar-height}

h1{ color: @black}
h2{ color: darken(@brand-info, 20)}
h3{ color: @brand-info}
p.lead{font-weight: 300}


.page-header{
	position: relative;
	.nav-pills{
		position: absolute;
		top: 72px;
		right: 0;
	}
}

.page-header .nav-pills > li > a{
    border-radius: 18px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
	padding: 3px 11px 4px;

	&:hover{
		background-color: @white;
		box-shadow: inset 0 0 0 2px @brand-primary;
		color: @brand-primary;
	}
}

.page-header .nav-pills > li.active > a{
	&:hover{
		background-color: darken(@brand-primary, 15);
		color: @white;
	}
}

div[lang='en'],
td[lang='en']{
	h1,h2,h3,h4,h5,h6{color: @brand-primary !important}
	p, li{color: darken(@brand-info, 25) !important}
	i{
		color: @black;
		border-color: @brand-info;
	}
}
div[lang='es'],
td[lang='es']{
	h1,h2,h3,h4,h5,h6{color: @brand-info !important}
	p, li{color: darken(@brand-primary, 15)  !important}
}

ul.docs{
	li{
		list-style: none;
		ul li{
			list-style: none;
		}
	}
}

.pix-table{
	tr{
		th{
			.tcenter;
			i.pix{
				font-size: 72px;
				color: fade(@black, 35);
			}
			label{
				color: fade(@black, 50);
				font-size: 14px;
			}
		}
	}

}

footer{
	color: @white;
	font-size: 12px;
	margin-top: 30px;
	padding: 1em 0;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
		}
	}

	.nav li a{
		border: 2px solid transparent;
		padding: 2px 10px 4px;
		&:hover{
			border: 2px solid fade(@white, 33);
			background-color: transparent;
			color: @white;
		}
	}
}

address{
	white-space: pre;
}

textarea{
	resize: none;
}
	
.browser-compatibility-overlay{
	position: absolute;
	width: 300px;
	top: 60px;
	right: -80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2ex;
	padding: 2px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 900;
	.rotate(45deg);
	background-color: @white;
	color: lighten(@brand-primary, 30);
	border: 1px solid lighten(@brand-primary, 30);
	p{
		margin: 0;
		/*
		a.browser{
			display: inline-block;
			padding: 1px 5px;
			border-radius: 4px;
			color: @white;
			background-color: @brand-primary;
		}
		*/
	}
}

.select{
	// position: absolute;
	background-color: @white;
	border-radius: @radius;
	box-shadow: 3px 3px 0 fade(@black, 10);
	border: @pix-border-width/2 solid darken(@border-color, 10);
	li{
		a{
			font-size: 14px;
			color: @black;
			padding: 5px;
			.pix{
				font-size: 32px;
			}
			&:hover{
				background-color: fade(@brand-primary, 20);
			}
		}
	}

}
