// PiX: The Scores
// --------------------------

/******************************************** Variables */

@pix-border-width: 				4px;
@pix-border-color:				#ccd4d1;
@edit-color:				 	#efefd7;
@pix-block-height:				120px;
@pix-size:						3.67em;

/****************************************** Score Title */
.input-style{
		padding: 4px;
		overflow: auto;
		border: none;
		border-radius: @radius;
		cursor: text;
		background-color: transparent;
		&:active,
		&:focus,
		&:hover{
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
}

h1.score-header{
	margin: 0;
	input{
		font-size: 32px;
		margin: 12px 0;
		color: @orange;
		line-height: 42px;
		width: 100%;
		.input-style;
	}
}

.score-description{
	display: block;
	width: 100%;
	.input-style;
}


/******************************************** The Score */

.pix-score{
	.cf;
	margin: 10px -@pix-border-width 32px -@pix-border-width;
	ul li{
		display: inline-block;
		list-style-type: none;
	}

	ul, ul li ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: table;
		}
	}

	ul{
		&.pix-header{
			background-color: @border-color;
			border-radius: @pix-border-width * 2 0 0 @pix-border-width * 2;
			border-top: @pix-border-width solid @border-color;
			border-bottom: @pix-border-width solid @pix-border-color;
			li{
				&.block-user{border-top: none}
				&.block-system{border-bottom: none}
				
				.pix-group{
					font-weight: 600;
					height: @pix-block-height;
					color: fade(@black, 40%);
					.pix{
						font-size: @pix-size * 1.1;
					}
					label{
						font-size: 1.2em;
					}
				}
			}
		}

		&.pix-steps{
			li.pix-step{
				position: relative;
				ul.split{
					border-left: 1px solid darken(@border-color, 15);
				}
				&:last-child{
					border-radius: @pix-border-width * 2;
					border-right: @pix-border-width solid @border-color !important;
				}
				&:hover{
					background-color: fade(@edit-color, 15);
				}
			}
		}
	}

	.note{
		display: inline-block;
		position: absolute;
		padding: 4px;	
		font-size: 11px;
		font-family: @font-family-serif;
		color: fade(@black, 70%);
		line-height: 100%;
		&.top{
			font-weight: bold;
			bottom: @pix-block-height * 3 + 12px}
		&.bottom{
			top: @pix-block-height * 3 + 12px}
	}
}

li.block{
	position: relative;
	display: table;
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	height: @pix-block-height;
	padding: 0 5px;
	margin: 0;
	width: 100%;

	&.block-user{
		border-top: @pix-border-width solid @border-color;
		border-bottom: 1px dotted @pix-border-color;
	}
	&.block-dialogue{border-bottom: 3px solid @pix-border-color}
	&.block-system{border-bottom: @pix-border-width solid @border-color;}

	
	.pix-group,
	textarea{
		.cf;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		height: @pix-block-height;
		font-size: 11px;
		line-height: 100%;
		padding: 5px;
		border: none;
		width: 100% !important;
		background-color: transparent;
		&:active,
		&:focus,
		&:hover{
			border: none;
			box-shadow: 0 0 2px @edit-color inset;
			background-color: fade(@edit-color, 30);
		}
		.pix{
			display: block;
			text-align: center;
			font-size: @pix-size;
			line-height: 100%;
		}
	}

	.pix-group:hover{
		cursor: pointer;
		:before{
			position: absolute;
			float: right;
			font-family: 'pix';
			content: 'edit';
			font-size: 22px;
			top: -2px;
			right: 12px;
			color: fade(@black, 40%)
		}
	}
}




