@font-face {
  font-family: "PiX";
  src: url("PiX-30df6ea8b28fa80ae3a16016839b3f92.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PiX";
  src: url("PiX-fc1f192b1d032caa318af099638b77ae.eot");
  src: url("PiX-fc1f192b1d032caa318af099638b77ae.eot?#iefix") format("embedded-opentype"), url("PiX-fc1f192b1d032caa318af099638b77ae.woff") format("woff"), url("PiX-fc1f192b1d032caa318af099638b77ae.ttf") format("truetype"), url("PiX-fc1f192b1d032caa318af099638b77ae.svg?#PiX") format("svg");
  font-weight: normal;
  font-style: normal;
}
.pix,
.ligature-icons {
  font-family: "PiX";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.-:before {
  content: "-";
}
.a:before {
  content: "a";
}
.b:before {
  content: "b";
}
.c:before {
  content: "c";
}
.d:before {
  content: "d";
}
.e:before {
  content: "e";
}
.f:before {
  content: "f";
}
.g:before {
  content: "g";
}
.h:before {
  content: "h";
}
.i:before {
  content: "i";
}
.j:before {
  content: "j";
}
.k:before {
  content: "k";
}
.l:before {
  content: "l";
}
.left-1:before {
  content: "left-1";
}
.left-1:before {
  content: "pix-left-1";
}
.left-1:before {
  content: "left-1";
}
.left-1:before {
  content: "pix-left-1";
}
.m:before {
  content: "m";
}
.n:before {
  content: "n";
}
.o:before {
  content: "o";
}
.p:before {
  content: "p";
}
.pix-alert:before {
  content: "pix-alert";
}
.pix-archive:before {
  content: "pix-archive";
}
.pix-ask:before {
  content: "pix-ask";
}
.pix-attach:before {
  content: "pix-attach";
}
.pix-audio:before {
  content: "pix-audio";
}
.pix-branch:before {
  content: "pix-branch";
}
.pix-button:before {
  content: "pix-button";
}
.pix-buy:before {
  content: "pix-buy";
}
.pix-call:before {
  content: "pix-call";
}
.pix-checkbox:before {
  content: "pix-checkbox";
}
.pix-click-drag:before {
  content: "pix-click-drag";
}
.pix-click:before {
  content: "pix-click";
}
.pix-clock:before {
  content: "pix-clock";
}
.pix-cloud:before {
  content: "pix-cloud";
}
.pix-coment:before {
  content: "pix-coment";
}
.pix-contact:before {
  content: "pix-contact";
}
.pix-contacts:before {
  content: "pix-contacts";
}
.pix-copy:before {
  content: "pix-copy";
}
.pix-database:before {
  content: "pix-database";
}
.pix-delete:before {
  content: "pix-delete";
}
.pix-dislike:before {
  content: "pix-dislike";
}
.pix-double-click:before {
  content: "pix-double-click";
}
.pix-double-tap:before {
  content: "pix-double-tap";
}
.pix-down-1:before {
  content: "pix-down-1";
}
.pix-down-2:before {
  content: "pix-down-2";
}
.pix-down-3:before {
  content: "pix-down-3";
}
.pix-download:before {
  content: "pix-download";
}
.pix-drag-left-1:before {
  content: "pix-drag-left-1";
}
.pix-drag-left-2:before {
  content: "pix-drag-left-2";
}
.pix-drag-left-3:before {
  content: "pix-drag-left-3";
}
.pix-drag-n-drop:before {
  content: "pix-drag-n-drop";
}
.pix-drag-right-1:before {
  content: "pix-drag-right-1";
}
.pix-drag-right-2:before {
  content: "pix-drag-right-2";
}
.pix-drag-right-3:before {
  content: "pix-drag-right-3";
}
.pix-edit:before {
  content: "pix-edit";
}
.pix-email:before {
  content: "pix-email";
}
.pix-export:before {
  content: "pix-export";
}
.pix-fall-back:before {
  content: "pix-fall-back";
}
.pix-fast-foward:before {
  content: "pix-fast-foward";
}
.pix-filter:before {
  content: "pix-filter";
}
.pix-gallery:before {
  content: "pix-gallery";
}
.pix-hang-out:before {
  content: "pix-hang-out";
}
.pix-image:before {
  content: "pix-image";
}
.pix-import:before {
  content: "pix-import";
}
.pix-input-date:before {
  content: "pix-input-date";
}
.pix-input-range:before {
  content: "pix-input-range";
}
.pix-input-time:before {
  content: "pix-input-time";
}
.pix-input:before {
  content: "pix-input";
}
.pix-left-1:before {
  content: "left-1";
}
.pix-left-1:before {
  content: "pix-left-1";
}
.pix-left-2:before {
  content: "pix-left-2";
}
.pix-left-3:before {
  content: "pix-left-3";
}
.pix-like:before {
  content: "pix-like";
}
.pix-link:before {
  content: "pix-link";
}
.pix-list:before {
  content: "pix-list";
}
.pix-lock:before {
  content: "pix-lock";
}
.pix-map:before {
  content: "pix-map";
}
.pix-merge:before {
  content: "pix-merge";
}
.pix-microphone:before {
  content: "pix-microphone";
}
.pix-minus:before {
  content: "pix-minus";
}
.pix-move:before {
  content: "pix-move";
}
.pix-next:before {
  content: "pix-next";
}
.pix-no:before {
  content: "pix-no";
}
.pix-notify:before {
  content: "pix-notify";
}
.pix-ok:before {
  content: "pix-ok";
}
.pix-page:before {
  content: "pix-page";
}
.pix-paste:before {
  content: "pix-paste";
}
.pix-pause:before {
  content: "pix-pause";
}
.pix-pile:before {
  content: "pix-pile";
}
.pix-pinch-zoom:before {
  content: "pix-pinch-zoom";
}
.pix-pinch:before {
  content: "pix-pinch";
}
.pix-play:before {
  content: "pix-play";
}
.pix-plus:before {
  content: "pix-plus";
}
.pix-position:before {
  content: "pix-position";
}
.pix-previous:before {
  content: "pix-previous";
}
.pix-print:before {
  content: "pix-print";
}
.pix-ratio:before {
  content: "pix-ratio";
}
.pix-rec:before {
  content: "pix-rec";
}
.pix-record:before {
  content: "pix-record";
}
.pix-resize:before {
  content: "pix-resize";
}
.pix-right-1:before {
  content: "pix-right-1";
}
.pix-right-1:before {
  content: "right-1";
}
.pix-right-2:before {
  content: "pix-right-2";
}
.pix-right-3:before {
  content: "pix-right-3";
}
.pix-rotate:before {
  content: "pix-rotate";
}
.pix-rss:before {
  content: "pix-rss";
}
.pix-save:before {
  content: "pix-save";
}
.pix-scroll:before {
  content: "pix-scroll";
}
.pix-search:before {
  content: "pix-search";
}
.pix-select-ratio:before {
  content: "pix-select-ratio";
}
.pix-select:before {
  content: "pix-select";
}
.pix-send:before {
  content: "pix-send";
}
.pix-set:before {
  content: "pix-set";
}
.pix-share:before {
  content: "pix-share";
}
.pix-stop:before {
  content: "pix-stop";
}
.pix-switch:before {
  content: "pix-switch";
}
.pix-tag:before {
  content: "pix-tag";
}
.pix-tap-2:before {
  content: "pix-tap-2";
}
.pix-tap-3:before {
  content: "pix-tap-3";
}
.pix-tap-4:before {
  content: "pix-tap-4";
}
.pix-tap:before {
  content: "pix-tap";
}
.pix-text:before {
  content: "pix-text";
}
.pix-touch-collapse:before {
  content: "pix-touch-collapse";
}
.pix-touch-expand:before {
  content: "pix-touch-expand";
}
.pix-unlink:before {
  content: "pix-unlink";
}
.pix-unlock:before {
  content: "pix-unlock";
}
.pix-up-1:before {
  content: "pix-up-1";
}
.pix-up-2:before {
  content: "pix-up-2";
}
.pix-up-3:before {
  content: "pix-up-3";
}
.pix-update:before {
  content: "pix-update";
}
.pix-upload:before {
  content: "pix-upload";
}
.pix-video:before {
  content: "pix-video";
}
.pix-view:before {
  content: "pix-view";
}
.pix-window:before {
  content: "pix-window";
}
.q:before {
  content: "q";
}
.r:before {
  content: "r";
}
.right-1:before {
  content: "pix-right-1";
}
.right-1:before {
  content: "pix-right-1";
}
.right-1:before {
  content: "right-1";
}
.right-1:before {
  content: "right-1";
}
.s:before {
  content: "s";
}
.t:before {
  content: "t";
}
.u:before {
  content: "u";
}
.v:before {
  content: "v";
}
.w:before {
  content: "w";
}
.x:before {
  content: "x";
}
.y:before {
  content: "y";
}
.z:before {
  content: "z";
}
/* makes the font 33% larger relative to the icon container */
.pix-lg {
  font-size: 1.3333333333333333em !important;
  line-height: 0.75em !important;
  vertical-align: -15%;
}
.pix-2x {
  font-size: 2em;
}
.pix-3x {
  font-size: 3em;
  line-height: 1.8em;
  position: relative;
  top: .3em;
}
.pix-4x {
  font-size: 4em !important;
  width: 1em;
}
.pix-5x {
  font-size: 5em !important;
  width: 1em;
}
.pix-jumbo {
  font-size: 10em !important;
  width: 1em;
}
.pix-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.pix-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.pix-ul > li {
  position: relative;
}
.pix-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.pix-li.pix-lg {
  left: -1.8571428571428572em;
}
.pix-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pix.pull-left {
  margin-right: .3em;
}
.pix.pull-right {
  margin-left: .3em;
}
.pix-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.pix-swing {
  -webkit-animation: swing 1s infinite ease;
  -moz-animation: swing 1s infinite ease;
  -o-animation: swing 1s infinite ease;
  animation: swing 1s infinite ease;
}
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(10deg);
  }
  100% {
    -moz-transform: rotate(-10deg);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}
@-o-keyframes swing {
  0% {
    -o-transform: rotate(-10deg);
  }
  50% {
    -o-transform: rotate(10deg);
  }
  100% {
    -o-transform: rotate(-10deg);
  }
}
@-ms-keyframes swing {
  0% {
    -ms-transform: rotate(-10deg);
  }
  50% {
    -ms-transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(-10deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.pix-beat {
  -webkit-animation: beat .6s infinite ease;
  -moz-animation: beat .6s infinite ease;
  -o-animation: beat .6s infinite ease;
  animation: beat .6s infinite ease;
}
@-moz-keyframes beat {
  0% {
    -moz-transform: scale(0.8);
  }
  20% {
    -moz-transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(0.8);
  }
}
@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(0.8);
  }
  20% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0.8);
  }
}
@-o-keyframes beat {
  0% {
    -o-transform: scale(0.8);
  }
  20% {
    -o-transform: scale(1.5);
  }
  100% {
    -o-transform: scale(0.8);
  }
}
@-ms-keyframes beat {
  0% {
    -ms-transform: scale(0.8);
  }
  20% {
    -ms-transform: scale(1.5);
  }
  100% {
    -ms-transform: scale(0.8);
  }
}
@keyframes beat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}
.pix-rotate-20 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
.pix-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pix-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pix-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pix-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pix-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.pix-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.pix-stack {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 40px;
  vertical-align: middle;
}
.pix-stack .pix {
  position: absolute;
  left: 0;
  text-align: center;
  line-height: inherit;
}
/*
.stack-top-left,
.stack-top-right,
.stack-bottom-left,
.stack-bottom-right{
  font-size: 3em !important;
}*/
/*
.stack-top-left{
  top: -55% !important;
  left: -55% !important;
}
.stack-top-right{
  top: -55% !important;
  left: 55% !important;
}
.stack-bottom-left{
  top: 55% !important;
  left: -55% !important;
}
.stack-bottom-right{
  top: 55% !important;
  left: 55% !important;
}
.stack-upper-midde{
  top: -55% !important;
}
*/
.pix-inverse {
  color: #ffffff;
}
/*
.@{css-prefix}-stack-1x, 
.@{css-prefix}-stack-2x,
.@{css-prefix}-stack-3x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.@{css-prefix}-stack-1x { line-height: inherit; }
.@{css-prefix}-stack-2x { font-size: 3em !important; }
.@{css-prefix}-stack-3x { font-size: 5em !important; }

*/
.hover-spin,
.pix-circle-dashed,
.pix-interaction,
.pix-gear,
.pix-cog,
.pix-refresh,
.pix-reload,
.pix-arrows-cycle {
  transition: all 1s ease;
}
.hover-spin:active,
.pix-circle-dashed:active,
.pix-interaction:active,
.pix-gear:active,
.pix-cog:active,
.pix-refresh:active,
.pix-reload:active,
.pix-arrows-cycle:active,
.hover-spin:focus,
.pix-circle-dashed:focus,
.pix-interaction:focus,
.pix-gear:focus,
.pix-cog:focus,
.pix-refresh:focus,
.pix-reload:focus,
.pix-arrows-cycle:focus,
.hover-spin:hover,
.pix-circle-dashed:hover,
.pix-interaction:hover,
.pix-gear:hover,
.pix-cog:hover,
.pix-refresh:hover,
.pix-reload:hover,
.pix-arrows-cycle:hover {
  -webkit-animation: spin 2s infinite linear !important;
  -moz-animation: spin 2s infinite linear !important;
  -o-animation: spin 2s infinite linear !important;
  animation: spin 2s infinite linear !important;
}
.hover-swing,
.pix-pencil,
.pix-wrench,
.pix-mobile-vibrate,
.pix-mobile-shake {
  transition: all .3s ease;
}
.hover-swing:active,
.pix-pencil:active,
.pix-wrench:active,
.pix-mobile-vibrate:active,
.pix-mobile-shake:active,
.hover-swing:focus,
.pix-pencil:focus,
.pix-wrench:focus,
.pix-mobile-vibrate:focus,
.pix-mobile-shake:focus,
.hover-swing:hover,
.pix-pencil:hover,
.pix-wrench:hover,
.pix-mobile-vibrate:hover,
.pix-mobile-shake:hover {
  -webkit-animation: swing .3s infinite ease;
  -moz-animation: swing .3s infinite ease;
  -o-animation: swing .3s infinite ease;
  animation: swing .3s infinite ease;
}
.hover-beat {
  transition: all 1s ease;
}
.hover-beat:active,
.hover-beat:focus,
.hover-beat:hover {
  -webkit-animation: beat 1s infinite ease;
  -moz-animation: beat 1s infinite ease;
  -o-animation: beat 1s infinite ease;
  animation: beat 1s infinite ease;
}
