// Spinning Icons
// --------------------------

.@{css-prefix}-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.@{css-prefix}-swing {
  -webkit-animation: swing 1s infinite ease;
  -moz-animation: swing 1s infinite ease;
  -o-animation: swing 1s infinite ease;
  animation: swing 1s infinite ease;
}

@-moz-keyframes swing {
  0% { -moz-transform: rotate(-10deg); }
  50% { -moz-transform: rotate(10deg); }
  100% { -moz-transform: rotate(-10deg); }
}
@-webkit-keyframes swing {
  0% { -webkit-transform: rotate(-10deg); }
  50% { -webkit-transform: rotate(10deg); }
  100% { -webkit-transform: rotate(-10deg); }
}
@-o-keyframes swing {
  0% { -o-transform: rotate(-10deg); }
  50% { -o-transform: rotate(10deg); }
  100% { -o-transform: rotate(-10deg); }
}
@-ms-keyframes swing {
  0% { -ms-transform: rotate(-10deg); }
  50% { -ms-transform: rotate(10deg); }
  100% { -ms-transform: rotate(-10deg); }
}
@keyframes swing {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.@{css-prefix}-beat {
  -webkit-animation: beat .6s infinite ease;
  -moz-animation: beat .6s infinite ease;
  -o-animation: beat .6s infinite ease;
  animation: beat .6s infinite ease;
}

@-moz-keyframes beat {
  0% { -moz-transform: scale(.8); }
  20% { -moz-transform: scale(1.5); }
  100% { -moz-transform: scale(.8); }
}
@-webkit-keyframes beat {
  0% { -webkit-transform: scale(.8); }
  20% { -webkit-transform: scale(1.5); }
  100% { -webkit-transform: scale(.8); }
}
@-o-keyframes beat {
  0% { -o-transform: scale(.8); }
  20% { -o-transform: scale(1.5); }
  100% { -o-transform: scale(.8); }
}
@-ms-keyframes beat {
  0% { -ms-transform: scale(.8); }
  20% { -ms-transform: scale(1.5); }
  100% { -ms-transform: scale(.8); }
}
@keyframes beat {
  0% { transform: scale(.8); }
  20% { transform: scale(1.5); }
  100% { transform: scale(.8); }
}