











/*----------------------------------------------------*/
.@{css-prefix}-pix:before { content: @var-pix;}
.@{css-prefix}-grid-center:before { content: @var-grid-center;}
.@{css-prefix}-grid-4:before { content: @var-grid-4;}
.@{css-prefix}-grid-5:before { content: @var-grid-5;}
.@{css-prefix}-grid-all:before { content: @var-grid-all;}
.@{css-prefix}-grid-ul:before { content: @var-grid-ul;}
.@{css-prefix}-grid-ur:before { content: @var-grid-ur;}
.@{css-prefix}-grid-ll:before { content: @var-grid-ll;}
.@{css-prefix}-grid-lr:before { content: @var-grid-lr;}
.@{css-prefix}-grid-horizontal:before { content: @var-grid-horizontal;}

/*----------------------------------------------------*/
.@{css-prefix}-square:before { content: @var-square;}
.@{css-prefix}-square-dashed:before { content: @var-square-dashed;}
.@{css-prefix}-circle:before { content: @var-circle;}
.@{css-prefix}-circle-dashed:before { content: @var-circle-dashed;}
.@{css-prefix}-say:before { content: @var-say;}
.@{css-prefix}-think:before { content: @var-think;}
.@{css-prefix}-dialogue:before { content: @var-dialogue;}
.@{css-prefix}-interaction:before { content: @var-interaction;}
.@{css-prefix}-cloud:before { content: @var-cloud;}
.@{css-prefix}-book:before { content: @var-book;}
.@{css-prefix}-database:before { content: @var-database;}
.@{css-prefix}-gear:before { content: @var-gear;}
.@{css-prefix}-refresh:before { content: @var-refresh;}
.@{css-prefix}-reload:before { content: @var-reload;}

/*----------------------------------------------------*/
.@{css-prefix}-user:before { content: @var-user;}
.@{css-prefix}-user-smiling:before { content: @var-user-smiling;}
.@{css-prefix}-user-laughing:before { content: @var-user-laughing;}
.@{css-prefix}-user-sad:before { content: @var-user-sad;}
.@{css-prefix}-user-mad:before { content: @var-user-mad;}
.@{css-prefix}-user-surprised:before { content: @var-user-surprised;}
.@{css-prefix}-user-intrigued:before { content: @var-user-intrigued;}
.@{css-prefix}-robot:before { content: @var-robot;}


/*----------------------------------------------------*/
.@{css-prefix}-arrow-up:before { content: @var-arrow-up;}
.@{css-prefix}-arrow-down:before { content: @var-arrow-down;}
.@{css-prefix}-arrows-vertical:before { content: @var-arrows-vertical;}
.@{css-prefix}-arrow-left:before { content: @var-arrow-left;}
.@{css-prefix}-arrow-right:before { content: @var-arrow-right;}
.@{css-prefix}-arrows-horizontal:before { content: @var-arrows-horizontal;}
.@{css-prefix}-arrows-move:before { content: @var-arrows-move;}
.@{css-prefix}-arrows-collapse:before { content: @var-arrows-collapse;}
.@{css-prefix}-arrows-diagonal:before { content: @var-arrows-diagonal;}
.@{css-prefix}-arrow-rotate:before { content: @var-arrow-rotate;}

.@{css-prefix}-keyboard:before { content: @var-keyboard;}
.@{css-prefix}-keyboard-arrows:before { content: @var-keyboard-arrows;}
.@{css-prefix}-keyboard-enter:before { content: @var-keyboard-enter;}
.@{css-prefix}-keyboard-tab:before { content: @var-keyboard-tab;}
.@{css-prefix}-keyboard-type:before { content: @var-keyboard-type;}

.@{css-prefix}-mouse:before { content: @var-mouse;}
.@{css-prefix}-mouse-all:before { content: @var-mouse-all;}
.@{css-prefix}-click:before { content: @var-click;}
.@{css-prefix}-click-left:before { content: @var-click-left;}
.@{css-prefix}-click-center:before { content: @var-click-center;}
.@{css-prefix}-click-right:before { content: @var-click-right;}

.@{css-prefix}-game:before { content: @var-game;}
.@{css-prefix}-touch:before { content: @var-touch-1-alt;}


/*----------------------------------------------------*/
.@{css-prefix}-touch-1:before { content: @var-touch-1;}
.@{css-prefix}-touch-2:before { content: @var-touch-2;}
.@{css-prefix}-touch-3:before { content: @var-touch-3;}
.@{css-prefix}-touch-4:before { content: @var-touch-4;}
.@{css-prefix}-touch-5:before { content: @var-touch-5;}
.@{css-prefix}-hand:before { content: @var-hand;}
.@{css-prefix}-pinch:before { content: @var-pinch;}
.@{css-prefix}-thumb:before { content: @var-thumb;}


/*----------------------------------------------------*/

.@{css-prefix}-file:before { content: @var-file;}
.@{css-prefix}-cube:before { content: @var-cube;}
.@{css-prefix}-ok:before { content: @var-ok;}
.@{css-prefix}-no:before { content: @var-no;}
.@{css-prefix}-plus:before { content: @var-plus;}
.@{css-prefix}-minus:before { content: @var-minus;}
.@{css-prefix}-question:before { content: @var-question;}
.@{css-prefix}-text:before { content: @var-text;}
.@{css-prefix}-sound:before { content: @var-sound;}
.@{css-prefix}-contact:before { content: @var-contact;}
.@{css-prefix}-picture:before { content: @var-picture;}
.@{css-prefix}-video:before { content: @var-video;}
.@{css-prefix}-cog:before { content: @var-cog;}
.@{css-prefix}-search:before { content: @var-search;}
.@{css-prefix}-filter:before { content: @var-filter;}
.@{css-prefix}-date:before { content: @var-date;}
.@{css-prefix}-time:before { content: @var-time;}
.@{css-prefix}-tag:before { content: @var-tag;}
.@{css-prefix}-place:before { content: @var-place;}
.@{css-prefix}-compass:before { content: @var-compass;}
.@{css-prefix}-idea:before { content: @var-idea;}
.@{css-prefix}-radio:before { content: @var-radio;}
.@{css-prefix}-checkbox:before { content: @var-unlock;}
.@{css-prefix}-switch:before { content: @var-switch;}
.@{css-prefix}-feed:before { content: @var-feed;}
.@{css-prefix}-link:before { content: @var-link;}
.@{css-prefix}-list:before { content: @var-list;}
.@{css-prefix}-read:before { content: @var-read;}
.@{css-prefix}-type:before { content: @var-type;}
.@{css-prefix}-lock:before { content: @var-lock;}
.@{css-prefix}-unlock:before { content: @var-unlock;}
.@{css-prefix}-window:before { content: @var-window;}
.@{css-prefix}-window-text:before { content: @var-window-text;}
.@{css-prefix}-window-page:before { content: @var-window-page;}
.@{css-prefix}-window-gallery:before { content: @var-window-gallery;}
