
@font-face {
	font-family: 'PiX';
	src:url('@{font-path}/PiX.eot?pd06ka');
	src:url('@{font-path}/PiX.eot?#iefixpd06ka') format('embedded-opentype'),
		url('@{font-path}/PiX.woff?pd06ka') format('woff'),
		url('@{font-path}/PiX.ttf?pd06ka') format('truetype'),
		url('@{font-path}/PiX.svg?pd06ka#PiX') format('svg');
	font-weight: normal;
	font-style: normal;
}
