// Variables
// --------------------------

@font-path:        "../fonts";
@css-prefix:       pix;
@version:          "2.0.0";
@border-color:     #eee;
@inverse:          #fff;
@li-width:         (30em / 14);

// Font characters CODES

/*----------------------------------------------------*/
@var-pix: "\e600";
@var-grid-center: "\e601";
@var-grid-4: "\e602";
@var-grid-5: "\e603";
@var-grid-all: "\e604";
@var-grid-ul: "\e605";
@var-grid-ur: "\e606";
@var-grid-lr: "\e607";
@var-grid-ll: "\e608";
@var-grid-horizontal: "\e609";

/*----------------------------------------------------*/
@var-square: "\e60a";
@var-square-dashed: "\e60b";
@var-circle: "\e60c";
@var-circle-dashed: "\e60d";
@var-say: "\e616";
@var-think: "\e617";
@var-dialogue: "\e618";
@var-interaction: "\e619";
@var-cloud: "\e61a";
@var-gear: "\e61b";
@var-database: "\e61c";
@var-book: "\e61d";
@var-refresh: "\e61e";
@var-reload: "\e61f";

/*----------------------------------------------------*/
@var-user: "\e60e";
@var-user-smiling: "\e60f";
@var-user-laughing: "\e610";
@var-user-sad: "\e611";
@var-user-mad: "\e612";
@var-user-surprised: "\e613";
@var-user-intrigued: "\e614";
@var-robot: "\e615";

/*----------------------------------------------------*/
@var-arrow-up: "\e620";
@var-arrow-down: "\e621";
@var-arrows-vertical: "\e622";
@var-arrow-left: "\e623";
@var-arrow-right: "\e624";
@var-arrows-horizontal: "\e625";
@var-arrows-move: "\e626";
@var-arrows-collapse: "\e627";
@var-arrows-diagonal: "\e628";
@var-arrow-rotate: "\e629";

@var-keyboard: "\e62f";
@var-keyboard-arrows: "\e62b";
@var-keyboard-enter: "\e62c";
@var-keyboard-tab: "\e62d";
@var-keyboard-type: "\e62e";

@var-mouse: "\e630";
@var-mouse-all: "\e634";
@var-click: "\e62a";
@var-click-left: "\e631";
@var-click-center: "\e632";
@var-click-right: "\e633";

@var-game: "\e635";

/*----------------------------------------------------*/
@var-touch-1: "\e636";
@var-touch-1-alt: "\e637";
@var-touch-2: "\e638";
@var-touch-3: "\e639";
@var-touch-4: "\e63a";
@var-touch-5: "\e63b";
@var-hand: "\e63c";
@var-pinch: "\e63d";
@var-thumb: "\e63e";

/*----------------------------------------------------*/

@var-file: "\e63f";
@var-cube: "\e640";
@var-ok: "\e641";
@var-no: "\e642";
@var-plus: "\e643";
@var-minus: "\e644";
@var-question: "\e645";
@var-text: "\e646";
@var-sound: "\e647";
@var-contact: "\e648";
@var-picture: "\e649";
@var-video: "\e64a";
@var-cog: "\e64b";
@var-search: "\e64c";
@var-filter: "\e64d";
@var-date: "\e64e";
@var-time: "\e64f";
@var-tag: "\e650";
@var-place: "\e651";
@var-compass: "\e652";
@var-idea: "\e653";
@var-radio: "\e654";
@var-checkbox: "\e655";
@var-switch: "\e656";
@var-feed: "\e657";
@var-link: "\e658";
@var-list: "\e659";
@var-read: "\e65a";
@var-type: "\e65b";
@var-lock: "\e65c";
@var-unlock: "\e65d";
@var-window: "\e65e";
@var-window-text: "\e65f";
@var-window-page: "\e660";
@var-window-gallery: "\e661";
