// Variables
// --------------------------

@font-path:        "../fonts";
@css-prefix:       pix;
@version:          "2.0.0";
@border-color:     #eee;
@inverse:          #fff;
@li-width:         (30em / 14);

// Font characters CODES

/******************* Meta Elements ***********/
@var-pix: "\e650";
@var-grid-4: "\e648";
@var-grid-all: "\e649";
@var-grid-center: "\e64a";
@var-grid-ll: "\e64c";
@var-grid-lr: "\e64d";
@var-grid-ul: "\e64e";
@var-grid-ur: "\e64f";
@var-grid-horizontal: "\e64b";

/******************* Containers *************/
@var-container-book: "\e600";
@var-container-circle-dashed: "\e601";
@var-container-circle: "\e602";
@var-container-database: "\e603";
@var-container-gear: "\e604";
@var-container-refresh: "\e605";
@var-container-reload: "\e606";
@var-container-say: "\e607";
@var-container-square-dashed: "\e608";
@var-container-square: "\e609";
@var-container-think: "\e60a";

/******************* User Expressions *******/
@var-face-intrigued: "\e624";
@var-face-smiling: "\e625";
@var-face-sad: "\e626";
@var-face-surprised: "\e627";
@var-face-upset: "\e628";
@var-face: "\e629";

/******************* Controls & Overlays ****/
@var-keyboard: "\e60b";
@var-keyboard-arrows: "\e61a";
@var-keyboard-enter: "\e618";
@var-keyboard-tab: "\e61d";
@var-keyboard-type: "\e646";
@var-mouse: "\e610";
@var-mouse-all: "\e60e";
@var-click: "\e61c";
@var-click-center: "\e60c";
@var-click-left: "\e60d";
@var-click-right: "\e60f";
@var-touch: "\e631";
@var-checkbox: "\e620";
@var-radio: "\e621";
@var-switch: "\e623";

/******************* Touch Gestures ***************/
@var-touch-1: "\e62b";
@var-touch-2: "\e62c";
@var-touch-3: "\e62d";
@var-touch-4: "\e62e";
@var-touch-hand: "\e62f";
@var-hand: "\e630";
@var-touch-pinch: "\e632";

/******************* Arrows *****************/
@var-arrow-down: "\e611";
@var-arrow-left: "\e612";
@var-arrow-right: "\e613";
@var-arrow-up: "\e614";
@var-arrows-move: "\e615";
@var-arrows-collapse: "\e616";
@var-arrows-diagonal: "\e617";
@var-arrows-horizontal: "\e619";
@var-arrows-rotate: "\e61b";
@var-arrows-vertical: "\e61f";

/******************* Objects ***************/
@var-contact: "\e633";
@var-cube: "\e634";
@var-feed: "\e635";
@var-file: "\e636";
@var-gear: "\e637";
@var-lightbulb: "\e638";
@var-link: "\e639";
@var-list: "\e63a";
@var-list-alt: "\e622";
@var-lock: "\e63b";
@var-unlock: "\e63c";
@var-no: "\e63d";
@var-ok: "\e63e";
@var-compass: "\e63f";
@var-position: "\e640";
@var-picture: "\e641";
@var-video: "\e642";
@var-sound: "\e643";
@var-text: "\e644";
@var-question: "\e645";
@var-type: "\e61e";
@var-thumbs-up: "\e62a";
@var-window: "\e647";